numpy~=2.2.5
pandas~=2.2.3
datasets~=3.5.1
scikit-learn~=1.6.1
torch~=2.7.0
transformers~=4.51.3
contractions~=0.1.73
beautifulsoup4~=4.13.4
shap~=0.47.2
lime~=0.2.0.1
matplotlib~=3.10.1
seaborn
xgboost~=3.0.0
openai~=1.77.0
gradio~=5.29.0

bs4~=0.0.2
joblib~=1.4.2
tqdm~=4.67.1
python-dotenv~=1.1.0